.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Garante que o chatbot fique acima de outros elementos */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.chatbot-icon {
    background-color: #93cd93; /* Cor de fundo do ícone */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite; /* Aplica a animação de pulso infinitamente */
}

.chatbot-icon img {
    width: 120px;
    height: 120px;
}

.chatbot-dialog {
    background-color: #f9f9f9;
    border: 1px solid #458f40;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 300px;
    height: 400px;
    display: none; /* Inicialmente oculto */
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}

.chatbot-dialog.active {
    display: flex; /* Exibe o diálogo quando a classe 'active' é adicionada */
}

.chatbot-header {
    background-color: #93cd93;
    padding: 10px;
    border-bottom: 1px solid #458f40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chatbot-header img#header-chatbot-icon {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: 80px;
    margin-right: 5px;
}

.chatbot-header span {
    font-weight: bold;
    flex-grow: 1; /* Para empurrar o botão de fechar para a direita */
    text-align: left;
}

.chatbot-header button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: #458f40;
    padding: 0;
    line-height: 1;
}

.chatbot-header button:hover {
    color: #333;
}

.data-hora-abertura {
    padding: 8px 10px;
    text-align: center;
    color: #777;
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
}

.chat-log {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex; /* Adiciona um layout flexível ao chat log */
    flex-direction: column; /* Garante que as mensagens fiquem uma abaixo da outra */
}

.chat-log {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.user-message {
    background-color: #efefef;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    align-self: flex-end;
    max-width: 80%;
    word-break: break-word;
}

.chatbot-message {
    background-color: #ececec;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    align-self: flex-start;
    max-width: 80%;
    word-break: break-word;
}

.input-area {
    padding: 10px;
    border-top: 1px solid #eee;
    display: flex;
}

.input-area input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 5px;
}

.input-area button {
    background-color: #458f40;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.input-area button:hover {
    background-color: #93cd93;
}